# tfnsw api key
.env

# claude ai 
fccsetup.md
CLAUDE.md
requests.md

launch.json
scheduled_tasks.lock
settings.local.json

# other
todo.md

# other (unused)
##.DS_Store
##Thumbs.db
##.vscode/
##.idea/
##*.swp
##*.swo
##*~
##*.log
##npm-debug.log*